<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings> 
      <add key="siteUrl" value ="https://zeniuslama.sharepoint.com"/>
      <add key="loginName" value ="bharatdong@zeniuslama.onmicrosoft.com"/>
      <add key="loginPassword" value ="Bharat123"/>
    </appSettings>   
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>